@font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), local('RobotoRegular'), local('Roboto-Regular'), url('../fonts/Roboto/Roboto-Regular.ttf');
}

body{
    font-family: 'Roboto';
}

.skin-blue .main-header .navbar{
    background-color: #20623F;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
    background-color: #246F47;
}
.skin-blue .main-header .logo{
    background-color: #00a65a;
}
.skin-blue .sidebar-menu>li.active>a{
    border-left-color: #00a65a;
}

.table-bordered{
    border-color:#DBDBDB;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
    border-color:#DBDBDB;
    vertical-align: middle;
    font-family: 'Roboto';
}
.table-bordered>tbody>tr{
    height: 110px;
}

.rounded{
    border-radius: 50%;
}

th{
    color:#707070;
    font-weight: 400;
    text-align: center;
}

.alstatus{
    width: 110px;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 10px;
    display: block;
}
.alstatus:hover {
    color: black;
    font-weight: bold;
}
.alstatus.lengkap{
    background-color:#45D4FF;
}

.alstatus.melanggar{
    background-color:#FF4545;
}

/* .content900{
    max-width: 900px;
} */

#nrp_input_id{
    max-width: 100%;
}

#sesuaikan{
    width: 100%;
}

