@font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), local('RobotoRegular'), local('Roboto-Regular'), url('../fonts/Roboto/Roboto-Regular.ttf');
}

* {
    font-family: 'Roboto';
}

body {
    background-image: url('/login-img/bg-pm-login.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 20vh;
}

.header {
    font-family: 'Roboto';
    text-align: center;
    font-size: 20px;
    width: calc(75% + 40px);
    padding: 20px;
    color: white;
    background-color: green;
}

.main-content {
    display: flex;
    justify-content: space-between;
    width: calc(75% + 40px);
}

.image {
    width: 50%;
}

.main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    background: linear-gradient(0deg, rgba(123,200,132,1) 0%, rgba(255,255,255,1) 100%);
}

.main-form input{
    font-family: 'Roboto';
    height: 35px;
    border: 1px solid #FFF;
    margin-top: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 10px;
    width: calc(80% + 30px);
}

.main-form button{
    font-family: 'Roboto';
    margin-top: 20px;
    margin-bottom: 50px;
    height: 35px;
    width: calc(80% + 30px);
    border: 0;
    color: #FFF;
    background-color: green;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px;
    padding-bottom: 0;
}

.text-header {
    padding-left: 20px;
    font-family: 'Roboto';
    font-weight: bold;
}

.form-child {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
}

.bg-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: calc(75% + 40px);
    background-color: #FFF;
}

.width-100-login {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
    width: 100%;
    font-family: 'Roboto';
}

@media all and (min-width: 960px) and (max-width: 1199px) {
    .header {
        font-size: 18px;
        padding: 18px;
    }

    .image,
    .main-form {
        width: 100%;
    }

    .text-header {
        font-size: 18px;
    }
    .logo img{
        width: 45px;
    }
    .form-login {
        margin: 18vh 0;
    }
    .form-child input{
        font-size: 15px;
    }
    .form-child button{
        font-size: 18px;
    }

    .main-content {
        justify-content: center;
        flex-direction: column;
    }
}

@media all and (min-width: 768px) and (max-width: 959px) {
    .header {
        font-size: 18px;
        padding: 15px;
    }

    .image,
    .main-form {
        width: 100%;
    }

    .text-header {
        font-size: 18px;
    }
    .logo img{
        width: 45px;
    }
    .form-login {
        margin: 18vh 0;
    }
    .form-child input{
        font-size: 15px;
    }
    .form-child button{
        font-size: 18px;
    }

    .main-content {
        justify-content: center;
        flex-direction: column;
    }
}

@media all and (min-width: 480px) and (max-width: 767px){
    .header {
        font-size: 15px;
        padding: 15px;
    }

    .image,
    .main-form {
        width: 100%;
    }

    .text-header {
        font-size: 15px;
    }
    .logo img{
        width: 40px;
    }
    .form-login {
        margin: 15vh 0;
    }
    .form-child input{
        font-size: 12.5px;
    }
    .form-child button{
        font-size: 15px;
    }

    .main-content {
        justify-content: center;
        flex-direction: column;
    }

}
@media all and (max-width: 599px) {
    .header {
        font-size: 15px;
        padding: 15px;
    }

    .image,
    .main-form {
        width: 100%;
    }

    .text-header {
        font-size: 15px;
    }
    .logo img{
        width: 35px;
    }
    .form-login {
        margin: 15vh 0;
    }
    .form-child input{
        font-size: 12.5px;
    }
    .form-child button{
        font-size: 15px;
    }

    .main-content {
        justify-content: center;
        flex-direction: column;
    }
}

@media all and (max-width: 479px) {
    .header {
        font-size: 10.5px;
        padding: 12px;
    }

    .image,
    .main-form {
        width: 100%;
    }
    .text-header {
        font-size: 10px;
    }
    .logo img{
        width: 25px;
    }
    .form-login {
        margin: 10vh 0;
    }
    .form-child input{
        font-size: 12px;
    }
    .form-child button{
        font-size: 15px;
    }
    .main-content {
        justify-content: center;
        flex-direction: column;
    }
}
